<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.crixmod.sailorcast" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".SailorCast"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/SailorCast"
        tools:replace="android:icon" >
        <activity
            android:screenOrientation="portrait"
            android:name=".view.SearchResultsActivity"
            android:label="@string/title_activity_search_results"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <service android:name=".model.cling.UpnpService" />

        <activity
            android:screenOrientation="portrait"
            android:name=".view.AlbumListActivity"
            android:label="@string/title_activity_album_list" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.crixmod.sailorcast.view.LauncherActivity" />
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".view.AlbumDetailActivity"
            android:label="@string/title_activity_album_detail" >
        </activity>

        <provider
            android:name=".view.adapters.SearchContentProvider"
            android:authorities="com.crixmod.sailorcast.search_content_provider" />

        <activity
            android:screenOrientation="portrait"
            android:name=".view.BookmarkActivity"
            android:label="@string/title_activity_bookmark" >
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".view.HistoryActivity"
            android:label="@string/title_activity_history" >
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".view.LauncherActivity"
            android:label="@string/app_name" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".view.SearchResultsActivity" />
        </activity>

        <meta-data android:value="54cc9582fd98c581270005cd" android:name="UMENG_APPKEY"></meta-data>
        <meta-data android:value="crixmod" android:name="UMENG_CHANNEL"/>
        <!--<meta-data android:value="Channel ID" android:name="UMENG_CHANNEL"/> -->

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <!-- ###################注册SDK使用的Activity###################### -->
        <!--分享编辑页-->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>

        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 100424468，如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID-->
                <data android:scheme="1104217487" />
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />

        <!-- Umeng feedback -->
        <activity
            android:name="com.umeng.fb.ConversationActivity"/>

        <!-- vitamio -->
        <activity android:name="io.vov.vitamio.activity.InitActivity"
            tools:replace="android:configChanges"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden"/>

         <activity
            android:name="com.crixmod.sailorcast.view.VitamioPlayerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
            android:label="PlayingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

         <activity
            android:name="com.crixmod.sailorcast.view.MediaPlayerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
            android:label="PlayingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>


    </application>

</manifest>
